{{ template "base.html" . }}
{{ define "head" }}
    <title>{{ .title }}</title>
{{ end }}
{{ define "content" }}
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Dashboard</h1>
        <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group mr-2">
                <button class="btn btn-sm btn-outline-secondary">Share</button>
                <button class="btn btn-sm btn-outline-secondary">Export</button>
            </div>
            <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
                <span data-feather="calendar"></span>
                This week
            </button>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            {{ .content }}
        </div>
    </div>

    {{ with .image }}
        <div class="row">
            <div class="col-lg-8">
                <img class="img-fluid" src="{{ .url }}" alt="{{ .alt }}">
            </div>
        </div>
    {{ end }}

    <div id="map" class="w-100"></div>
{{ end }}
{{ define "scripts" }}
    <script>

    </script>
    <!-- Google Maps -->
    <script src="https://maps.googleapis.com/maps/api/js?key={{ env "GOOGLE_MAPS_API_KEY" }}&callback=initMap" async
            defer></script>
{{ end }}
